<!DOCTYPE html>
<html>
<head>
	<title>Dojos!</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<h1>Please enter some info for the Dojo:</h1>
	<form action="/info" method='post' id="dojos_form">
		Name: <input type="text" name="name"><br>
		Email: <input type="text" name="email"><br>
		Would you like to recieve updates? <br>
		<input type="radio" name="updates" value="yes"> Yes <br>
		<input type="radio" name="updates" value="no"> No <br>
		<input type="submit" name="submit" value="Submit">	
	</form>
</body>
</html>